

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>
<h1 class="text-info text-center"> Covid -19 Tracker <img style="height: 80px; width: 80px; border-radius: 50px;" src="/Content/images/coronavirus.jpg"/></h1>

<input class="form-control" id="myInput" type="text" placeholder="Search ... " value="" />
    <div id="covidData"></div>



    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {

            $("#myInput").hide();
            $("#myInput").on("keyup", function () {
                
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        var url = '@Url.Action("GetCovid19Data", "Covid19")';

        function autoRefresh() {
            $.ajax({
                    url: url

                })
                .done(function(response) {
                    $("#covidData").html("");
                    $("#covidData").html(response);
                    $("#myInput").show();
                });
        }

            autoRefresh();
            setInterval(autoRefresh, 10000);
            
       

    });

    </script>
</body>
</html>


